@media only screen and (min-width: 1024px) and (max-height:768px){
  html{
    height: 100%;
  }
  body{
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-color: #bcf6fd;
    position: relative;
    padding: 0;
    margin: auto;
  }
  .ust-arkaplan{
    background: url('../img/ust-arkaplan.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 47%;
    position: absolute;
    z-index:  1;
  }
  .alt-arkaplan{
    background: url('../img/alt-arkaplan.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 31%;
    position: absolute;
    bottom: 0px;
    left: 0px;
  }
  .nesneler{
    padding: 0px;
    text-align: center;
    color:black;
    float: left;
    width: 7%;
    position: absolute;
    bottom: 10px;
    z-index: 2;
  }
  .nesneler img{
    width: 100%;
  }
  .alan{
    height: 127%;
    border: 1px solid white;
    border-radius: 10px;
    float: left;
    background-color: white;
    border-radius: 30px;
    text-align:  center;
    width: 39%;
    margin: 16px 5%;
    position:  relative;
  }
  .gruplar{z-index: 2;position: absolute;height:  28%;width: 100%;top: 29%;margin: auto;left: 0;}
  .yuvarlak{
    width: 14%;
    height: 19%;
    text-align: center;
    border-radius: 140px;
    position:  absolute;
    top: -14%;
    left: 40%;
    line-height:  194%;
    padding: 4%;
    background-color: #b6ce3f;
    font-size: 27px;
    color: white;
    font-family: 'Bungee', cursive;
  }
  #el{
    left:2%;
  }
  #araba{
    left:10%;
  }
  #armut{
    left:18%;
  }
  #arslan{
    left:25%;
  }
  #ayakkabi{
    left:34%;
    bottom: 5px;
  }
  #ari{
    left:41%;
  bottom:35px;
  }
  #ayi{
    left:49%;
  }
  #elbise{
    left:58%;
  }
  #elma{
    left:67%;
  }
  #esek{
    left:75%;
  }
  #etek{
    left:83%;
  }
  #ev{
    left:91%;
  }
}
